In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [2]:
df = pd.read_csv("two.csv")

In [3]:
df

   area   bedroom  age   price
0   2600      3.0   20  550000
1   3000      4.0   15  565000
2   3200      NaN   18  610000
3   3600      3.0   30  595000
4   4000      5.0    8  760000

In [4]:
x = df['bedroom'].median()
b = int(x)
b

3

In [5]:
df.bedroom.fillna(b, inplace=True)

In [6]:
df

   area   bedroom  age   price
0   2600      3.0   20  550000
1   3000      4.0   15  565000
2   3200      3.0   18  610000
3   3600      3.0   30  595000
4   4000      5.0    8  760000

In [7]:
reg = linear_model.LinearRegression()

In [8]:
reg.fit(df[['area', 'bedroom','age']] ,df.price)

KeyError: "['area'] not in index"

In [ ]:
reg.coef_

In [ ]:
reg.intercept_

In [ ]:
reg.predict([[3000,3,40]])

In [ ]:
dff = pd.read_csv("ex2.csv")

In [ ]:
dff

In [ ]:
dff['experience'].fillna("zero", inplace=True)

In [ ]:
dff

In [ ]:
m = dff['test_score(out of 10)'].median()
dff['test_score(out of 10)'].fillna(m, inplace=True)
dff

In [9]:
from word2number import w2n

ModuleNotFoundError: No module named 'word2number'